<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Contact</th>
                <th scope="col">Resume</th>
            </tr>
        </thead>

        <tbody>
            <%allApplicant.forEach((applicant)=> {%>
                <tr>
                    <td>
                        <%=applicant.applicantID%>
                    </td>
                    <td>
                        <%=applicant.name%>
                    </td>
                    <td>
                        <%=applicant.email%>
                    </td>
                    <td>
                        <%=applicant.contact%>
                    </td>
                    <td>
                        <a href="http://localhost:3000/uploads/<%=applicant.resumePath%>" class="btn btn-sm btn-primary"
                            target="_blank">View</a>
                    </td>
                </tr>
                <%})%>
        </tbody>
    </table>
</div>