<div class="min-vh-100 bg-theme">
    <div class="container mx-auto p-2 d-flex align-items-center justify-content-around flex-wrap">
        <%if(jobs.length===0){%>
            <h1 class="text-danger text-center">No jobs found</h1>
            <%}%>
                <%jobs.forEach((job)=> {%>
                    <div class="card border-white m-3 bg-theme" style="max-width:18rem">
                        <div class="card-header d-flex flex-column align-items-center justify-content-start p-2">
                            <span
                                class="bg-primary bg-opacity-25 text-white border border-success p-1 border-opacity-50 rounded">
                                Actively hiring
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-graph-up-arrow text-success mx-2" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M0 0h1v15h15v1H0V0Zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5Z" />
                                </svg>
                            </span>

                            <h5 class="my-1 fw-bold text-warning">
                                <%=job.companyName%>
                            </h5>
                            <div>
                                <span>
                                    <%=job.jobCategory%>
                                </span>
                                <span class="text-info">
                                    <%=job.jobDesignation%>
                                </span>
                            </div>
                        </div>

                        <div class="card-body d-flex align-items-center justify-content-conter flex-column">
                            <p class="fw-bold">
                                <i class="bi bi-geo-alt-fill"></i>
                                <%=job.jobLocation%>
                            </p>
                            <p class="fw-bold">
                                &#x20B9; <%=job.salary%>
                            </p>

                            <div class="skills p-1">
                                <% job.skillsRequired.forEach((skill)=> { %>
                                    <button class="btn btn-sm btn-outline-info">
                                        <%= skill%>
                                    </button>
                                    <% }) %>
                            </div>

                            <a href="/jobs/<%=job.id%>" class="btn btn-sm btn-outline-success my-2">
                                View Details
                            </a>
                        </div>
                    </div>
                    <%})%>
    </div>
</div>